<li class="country-list__item">
    <img class="country-list__img" src="{{flags.svg}}" alt="Flag of {{name.official}}" width="48" height="48">
    <p class="country-list__country">{{name.official}}</p>    
</li>