<p class="country-list__capital"><b>Capital:</b> {{#each capital}}{{this}} {{/each}}</p>
<p class="country-list__population"><b>Population:</b> {{population}}</p>
<p class="country-list__languages"><b>Languages:</b> {{#each languages}}{{this}} {{/each}}</p>